.main {
  display: flex;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
img {
  width: 65%;
  height: 100vh;
}
.open-icon {
  text-align: center;
}
.form-holder {
  width: 100%;
  padding: 1em;
}
form {
  position: relative;
  width: 100%;
  margin-top: 18%;
}
.textInput {
  width: 100%;
  padding: 1em;
  border: none;
  font-size: 1.2em;
  border-radius: 12px;
  border: 2px solid white;
}
.textInput:hover {
  border: 2px solid lightblue;
}
.textInput:focus {
  background-color: lightyellow;
  border-radius: 12px;
  outline: none;
}
.textInput:first-child {
  margin-top: 40px;
  margin-bottom: 10px;
}
.check-box {
  margin-top: 25px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 15px;
  border: double 2px lightskyblue;
  -webkit-appearance: button;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  width: 15px;
  height: 15px;
}
.check-box:hover {
  box-shadow: 0px 0px 20px black;
}
.check-box:checked {
  background-color: #000;
  border-left-color: #06f;
  border-right-color: #06f;
}
form button {
  font-size: 15px;
  margin-top: 25%;
  margin-bottom: 10px;
  width: 100%;
  padding: 1em;
  background-color: #5f84a9;
  font-weight: bold;
  letter-spacing: 2px;
  border-radius: 12px;
  color: white;
  transition-duration: 0.4s;
}
form button:hover {
  background-color: #2c4d6e;
  color: yellow;
}
form h1 {
  text-align: center;
}

.submenu {
  display: flex;
}
.submenu div {
  display: block;
  cursor: pointer;
  color: blue;
}
.sign-up {
  margin-left: auto;
}
.sign-up:hover {
  text-decoration: underline;
}
.password-f:hover {
  text-decoration: underline;
}

@media (max-width: 850px) {
  img {
    width: 45%;
    height: 100vh;
  }
  form {
    margin-top: 10%;
  }
  form button {
    margin-top: 10%;
  }
}

@media (max-width: 550px) {
  img {
    display: none;
  }
  form {
    margin-top: 10%;
  }
  form button {
    margin-top: 10%;
  }
}
@media (max-height: 700px) {
  .textInput:first-child {
    margin-top: 15px;
    margin-bottom: 10px;
  }
  form {
    margin-top: 15%;
  }
  form button {
    margin-top: 20%;
  }
}
